on:
  pull_request: {}

jobs:
  slack-poster:
    runs-on: ubuntu-latest
    name: Run Jobs Test Poster
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - id: updater
        name: Job Updater
        uses: ./
        with:
          filename: "example/jobs.yaml"
          previous_filename: "example/jobs-previous.yaml"
          keys: "url"
          unique: "url"
          deploy: false
          test: true

      - id: multifield_updater
        name: Job Updater
        uses: ./
        with:
          filename: "example/jobs.yaml"
          previous_filename: "example/jobs-previous.yaml"
          keys: "name,location,url"
          unique: "url"
          deploy: false
          test: true

      - run: echo ${{ steps.updater.outputs.fields }}
        name: Show Keys Used
        shell: bash
        
      - run: echo ${{ steps.updater.outputs.matrix }}
        name: Show Matrix
        shell: bash
